entrypoint = "index.js"
modules = ["nodejs-20", "postgresql-16"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "DATABASE_URL=$DATABASE_URL node index.js"]
deploymentTarget = "gce"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8080
externalPort = 8080

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 40183467

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
